name: Build

on:
  push: {}
  workflow_dispatch: {}

env:
  OBICO_REPO: TheSpaghettiDetective/obico-server
  OBICO_BRANCH: release
  OBICO_REF: e3993e83d5a7f07617275c3e71b011c5ca59fa4d

jobs:
  build-backend:
    name: Build Backend
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ env.OBICO_REPO }}
          ref: ${{ env.OBICO_REF }}
      - name: Add frontend
        run: |
          mv frontend backend/
          echo 'RUN ln -s /app/frontend /frontend' >> backend/Dockerfile
      - id: short-sha
        name: Get short sha
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/gabe565/obico/web
          tags: |
            type=raw,priority=1000,value=latest
            type=raw,value=${{ env.OBICO_BRANCH }}
            type=raw,value=sha-${{ steps.short-sha.outputs.SHA }}
            type=raw,value=sha-${{ env.OBICO_REF }}
          labels: |
            org.opencontainers.image.title=Obico Web
            maintainer=gabe565
            org.opencontainers.image.vendor=gabe565
            org.opencontainers.image.description=Prebuilt Obico web container
            org.opencontainers.image.source=https://github.com/${{ env.OBICO_REPO }}
            org.opencontainers.image.revision=${{ env.OBICO_REF }}
            org.opencontainers.image.licenses=AGPL-3.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64
      - name: Set up Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: backend
          pull: true
          push: ${{ github.ref == 'refs/heads/main' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-ml-api:
    name: Build ML API
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ env.OBICO_REPO }}
          ref: ${{ env.OBICO_REF }}
      - id: short-sha
        name: Get short sha
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/gabe565/obico/ml-api
          tags: |
            type=raw,priority=1000,value=latest
            type=raw,value=${{ env.OBICO_BRANCH }}
            type=raw,value=sha-${{ steps.short-sha.outputs.SHA }}
            type=raw,value=sha-${{ env.OBICO_REF }}
          labels: |
            org.opencontainers.image.title=Obico ML API
            maintainer=gabe565
            org.opencontainers.image.vendor=gabe565
            org.opencontainers.image.description=Prebuilt Obico ML API container
            org.opencontainers.image.source=https://github.com/${{ env.OBICO_REPO }}
            org.opencontainers.image.revision=${{ env.OBICO_REF }}
            org.opencontainers.image.licenses=AGPL-3.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64
      - name: Set up Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ml_api
          pull: true
          push: ${{ github.ref == 'refs/heads/main' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
